{% extends 'yearbook/base.html' %}

{% block pagetitle %}
	{{ page_title }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>New Users in Your Schools</h1>
        {% for recent_profile in recent_profiles %}
        <div class=”row”>
    		<div class="col d-flex justify-content-center">
    			<div class="card w-75">
    				<div class="card-body">
                        <div class="d-flex justify-content-start align-items-center mb-2">
                            <div class="avatar mr-50">
                                <img src="{{ recent_profile.yearbook_user.avatar.url }}" alt="Avatar" height="30" width="30">
                            </div>
                            <div class="user-page-info">
                                <a href="{% url 'user' recent_profile.yearbook_user.id %}"><h6 class="mb-0">{{ recent_profile.yearbook_user }}</h6></a>
                                <span class="font-small-2">{{ recent_profile.institution_year }}</span>
                            </div>
                        </div class="ml-auto cursor-pointer">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h1>Landing page content</h1>
    {% endif %}
{% endblock %}
