{% extends 'yearbook/base.html' %}

{% block pagetitle %}
{{ page_title }}
{% endblock %}

{% block content %}
<h1>Yearbook Profile</h1>
<h2>{{ institutionyearprofile.institution_year }}</h2>
<h3><a href="{{ request.scheme }}://{{ request.get_host }}/u/{{ institutionyearprofile.yearbook_user.id }}">{{ institutionyearprofile.yearbook_user.user.first_name }}
		{{ institutionyearprofile.yearbook_user.user.last_name }}</a></h3>
{% if institutionyearprofile.is_educator %}
	<p>Educator</p>
{% else %}
	<p>Student</p>
{% endif %}

<p>Quote: {{ institutionyearprofile.yearbook_quote }}</p>

<img class="round profile-pic" src="{{ institutionyearprofile.yearbook_picture.url }}" height=80 width=80>
{% if user.is_authenticated and user.yearbookuser == institutionyearprofile.yearbook_user %}
	<p><a href="{% url 'iypupdate' institutionyearprofile.id %}">Update my profile</a></p>
{% endif %}

<h2>Signatures</h2>

<!-- Div for Signature Creation-->
<div class="content-section">
	{% if not user.is_authenticated %}
		<p>Log in to sign this yearbook profile.</p>
	{% elif user.yearbookuser != institutionyearprofile.yearbook_user %}
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Sign Yearbook!</legend>
			{{ signatureform.as_p }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Sign</button>
		</div>
	</form>
	{% endif %}
</div>

<!-- Div for Signature Update-->
<div class="content-section">
	<form method="POST" enctype="multipart/form-data">
		{{ formset.management_form }}
		{% for signatureupdateform in formset %}
			<strong>From </strong><a href="{% url 'user' signatureupdateform.instance.author.id %}">{{ signatureupdateform.instance.author }}</a>
			<p>{{ signatureupdateform.instance.signature }}</p>
			{% if not user.is_authenticated %}
				<p>Log in to update this signature.</p>
			{% elif user != signatureupdateform.instance.author.user %}	
				<p>You are not authorized to edit this signature.</p>
			{% else %}
				{% csrf_token %}
        		<fieldset class="form-group">
    				<legend class="border-bottom mb-4">Update Signature</legend>
					{{ signatureupdateform.as_p }}
	  			</fieldset>
   			{% endif %}
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Update</button>
			</div>
		{% endfor %}
	</form>	
</div>
{% endblock %}
