{% extends 'yearbook/base.html' %}

{% block pagetitle %}
	{{ page_title }}
{% endblock %}

{% block content %}
	<h1>{{ institutionyear.institution.institution_name }} | {{ institutionyear.school_year }}</h1>
	<h3>Current Yearbook Profiles</h3>
	<form class="form-inline">
		<i id="search-icon" class="fas fa-search" aria-hidden="true"></i>
		<input id="user-input" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
	</form>
	<div class="card-body">
		<div id="replaceable-content">
			{% include 'yearbook/institutionyear-partial.html' %}
		</div>
	</div>
{% endblock %}
