{% if institutionyears %}
    {% for iy in institutionyears %}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ iy.school_year }}</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p>A year full of grace</p>
                            <!-- basic buttons -->
                            <a type="button" href="{% url 'institutionyear' iy.id %}" class="btn btn-primary mr-1 mb-1 waves-effect waves-light">View</a>
                            <a type="button" href="{% url 'institutionyear' iy.id %}" class="btn btn-outline-success mr-1 mb-1 waves-effect waves-light">Join</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p> Matching Year Not Found</p>
{% endif %}