{% extends 'yearbook/base.html' %}

{% block pagetitle %}
	{{ page_title }}
{% endblock %}


{% block content %}
	<!-- <a class="btn btn-primary mr-1 mb-1 waves-effect waves-light" href="/createinstitution/">Create New Institution</a> -->

	<!-- Div from createinstitution.html -->
	

	
	<fieldset class="form-group position-relative">
                                    <input type="text" class="form-control search-product" id="iconLeft5" placeholder="Find Your School">
                                    <div class="form-control-position">
                                        <i class="feather icon-search"></i>
                                    </div>
    </fieldset>
	<button type="button" class="btn btn-primary mr-1 mb-1 waves-effect waves-light" data-toggle="modal" data-target="#default">
		Can't Find Your School?
	</button>

	<!-- Modal -->
	<div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel1">Add Institution</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				
				<div class="modal-body">
					<div class= "content-section">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<fieldset class="form-group">
								<!-- <legend class="border-bottom mb-4">Create Institution</legend> -->
								<p>Before you submit a proposal for your institution, use our searchbar to make sure that your institution does not already exist!</p>
								<p>Note that a school might already be registered under an alias or abbreviated name.</p>
								{{ form.as_p}}
							</fieldset>
							<div class="form-group">
								<button class="btn btn-outline-info" type="submit">Create</button>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>


	<h1>Institutions currently registered:</h1>
	<div class="col-6 align-left">
		<form class="form-inline">
			<i id="search-icon" class="fas fa-search" aria-hidden="true"></i>
			<input id="user-input" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
		</form>
	</div>
	<div class="row match-height">
		
			{% include 'yearbook/institutions-partial.html' %}
		
	
	</div>
	
{% endblock %}

