{% extends 'yearbook/base.html' %}

{% block pagetitle %}
	{{ page_title }}
{% endblock %}

{% block content %}
	<!-- <a class="btn btn-primary mr-1 mb-1 waves-effect waves-light" href="/createinstitution/">Create New Institution</a> -->

	<!-- Div from createinstitution.html -->
	

	<button type="button" class="btn btn-primary mr-1 mb-1 waves-effect waves-light" data-toggle="modal" data-target="#default">
		Add new Institution
	</button>

	<!-- Modal -->
	<div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel1">Add Institution</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class= "content-section">
						<form method="POST">
							{% csrf_token %}
							<fieldset class="form-group">
								<legend class="border-bottom mb-4">Create Institution</legend>
								{{ form.as_p}}
							</fieldset>
							<div class="form-group">
								<button class="btn btn-outline-info" type="submit">Create</button>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>


	<h1>Institutions currently registered:</h1>
	
	<div class="row match-height">
	{% for institution in institutions %}
	
	
	<div class="col-xl-4 col-md-6 col-sm-12">
		<a href= "/institutions/{{ institution.id }}">
		<div class="card">
			<div class="card-content">
				<div class="card-body" class="clickable" location= "/institutions/{{ institution.id }}" >
					<img class="card-img img-fluid mb-1" src="{{ institution.logo.url }}" alt="Picture for {{ institution }}">
					<h5 class="mt-1">{{ institution }}</h5>
					<p class="card-text">Founded in {{ institution.institution_year_founded|add:"-1" }}</p>
					<hr class="my-1">
					<div class="d-flex justify-content-between mt-2">
						<div class="float-left">
							<p class="font-medium-2 mb-0">{{ institution.unique_members }}</p>
							<p class="">Members</p>
						</div>
						<div class="float-right">
							<p class="font-medium-2 mb-0">NIL</p>
							<p class="">Last Signed</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>
	</div>

	
	
	{% endfor %}
	
	</div>
{% endblock %}
