{% extends 'yearbook/base.html' %}

{% block pagetitle %}
	{{ page_title }}
{% endblock %}

{% block content %}
	<h1>{{ yearbook_user.user.first_name }} {{ yearbook_user.user.last_name }}</h1>
	<img class="round profile-pic" src="{{ yearbook_user.avatar.url }}" height=80 width=80>
	<p>Bio: {{ yearbook_user.bio }}</p>
	{% if user.yearbookuser == yearbook_user %}
		<p><a href="{% url 'yu-update' yearbook_user.id %}">Update my profile</a></p>
		<p><a href="{% url 'registeriyp' yearbook_user.id %}">Add School Information</a></p>
	{% endif %}
	<h1>Education History:</h1>
	{% if not history %}
		<p>This user has not joined any schools.</p>
	{% else %}
		{% for institution, iyps in history.items %}
			<ul>
			<li><a href="{% url 'institution' institution.id %}">{{ institution }}</a></li>
			<ul>
			{% for iyp in iyps %}
				<li><a href="{% url 'institutionyearprofile' iyp.id %}">{{ iyp.institution_year.school_year }}</a></li>
			{% endfor %}
			</ul>
			</ul>
		{% endfor %}
	{% endif %}
{% endblock %}

